{{#paper-nav-container open=drawerOpen classNames="ember-app"}}

  {{#paper-sidenav classNames="md-sidenav-left md-whiteframe-z2" flex-layout="column" flex=true}}

    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <div class="logo">
          <strong>Luc Sinex</strong>
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}

      {{#paper-list}}
        {{#paper-item action="transitionTo" param="index" title="Posts"}}Posts{{/paper-item}}
        {{#paper-item action="transitionTo" param="about" title="About"}}About{{/paper-item}}
      {{/paper-list}}

    {{/paper-content}}
  {{/paper-sidenav}}

  {{#paper-content flex-layout="column" flex=true}}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <h2>{{currentRoute}}</h2>
      </div>
    {{/paper-toolbar}}
    {{outlet}}
  {{/paper-content}}

{{/paper-nav-container}}